<app-header></app-header>
<div class="container-fluid bg-white">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <h2 class="text-center">Account</h2>
      <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
        <div class="mb-3">
          <label class="form-label" for="email">Email</label>
          <input class="form-control" id="email" formControlName="email" type="email" />
        </div>
        <div class="mb-3">
          <label class="form-label" for="password">Password</label>
          <input class="form-control" id="password" formControlName="password" type="password" />
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="loginForm.invalid">
          Login
        </button>
      </form>
    </div>
  </div>
</div>
